{% extends 'main.html' %} 
{% block content %}

{% include 'slider.html' %}
<div class="hold-transition login-page" style="height: 45vh">
    
    <div class="login-box">

        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>

                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="username" placeholder="User Name" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                        
                    </div>
                    <div class="input-group mb-3" id="show_hide_password">
                        <input type="password" class="form-control" name="password" placeholder="Password"  />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <a  href="#" ><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                              </div>
                        </div>
                        {% if messages %}
                        <ul class="text-danger">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                     {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" />
                                <label for="remember"> Remember Me </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block btn-sm">
                                Login
                            </button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a href="{% url 'password_reset' %}">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href="{% url 'register' %}" class="text-center">Don't have an account yet? Register</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>
{% endblock %}